<script>var title = require("game")
</script>

<h1>*GAME NAME*</h1>

<!--grabs the username from app.js, needs to be linked to mongo though-->
<h2>Welcome to FABA, <%= title %> </h2>





