<!--This will be the '/' page and is the first page the user will interact with-->
<h1>*FABA*</h1>
<!--The anchors here will take the user to many subpages of the site, but are predominantly for user logging-->
<li><a href="/register">No Account yet? Register here!</a></li>
<li><a href="/login">Already have an account? Login!</a></li>
<li><a href="/leaderboard">Visit the leaderboards!</a></li>
<li><a href="/logout">Logout</a></li>