<h1>*GAME NAME*</h1>
  
<li><a href="/register">No Account yet? Register here!</a></li>
<li><a href="/login">Already have an account? Login!</a></li>
<li><a href="/leaderboard">Visit the leaderboards!</a></li>
<li><a href="/logout">Logout</a></li>