<!--This is where the top scores from the game would be displayed along with anchor links to navigate the other pages.-->
<h1>*FABA*</h1>
<h1>These are the top 25 scores!</h1>

<li><a href="/register">No Account yet? Register here!</a></li>
<li><a href="/login">Already have an account? Login!</a></li>
<li><a href="/logout">Logout</a></li>