<h1>These are the top 25 games!</h1>

<li><a href="/register">No Account yet? Register here!</a></li>
<li><a href="/login">Already have an account? Login!</a></li>
<li><a href="/logout">Logout</a></li>