<!--This will be the profile page and is the first page the user will interact with-->
<h1>FABA</h1>
<h2>Edit your profile here!</h2>
<li><a href="/leaderboard">Visit the leaderboards!</a></li>
<li><a href="/game">Back to FABA</a></li>
<li><a href="/logout">Logout</a></li>