<!--When an account is verified during logging in, they are directed here and it displays as '/login' as well, NOT /secret.
Also allows for users to start a new game or return to their last save if eligible.-->
<h1>*FABA*</h1>
  
<h1>Start a new game?</h1>
<button onclick="window.location.href = 'http://localhost:3000/game';">New Game</button>
<h1>Resume an already started game.</h1>
<!--<button onclick="window.location.href = '/game';">Resume Game</button>-->
<button onclick="window.location.href ='/game';"><%= load %>Resume Game</button>


  
<li><a href="/">Go back home</a></li>
<li><a href="/leaderboard">Visit the leaderboards!</a></li>
<li><a href="/profile">Edit your profile</a></li>
<li><a href="/logout">Logout</a></li>